.icon{ border-radius: 50%; width:300px; height:300px;
  margin-left: auto;
   margin-right: auto;
}
.shadow,.navbar{  box-shadow:
  0 1.9px 2.5px rgba(0, 0, 0, 0.057),
  0 5px 6.1px rgba(0, 0, 0, 0.076),
  0 10.1px 11.4px rgba(0, 0, 0, 0.086),
  0 19.2px 19.8px rgba(0, 0, 0, 0.092),
  0 38.4px 34.8px rgba(0, 0, 0, 0.1),
  0 101px 74px rgba(0, 0, 0, 0.13);}


  .under-blue,.under-red,.under-green{
    border-bottom:solid;

  border-width:5px;
  }
.under-blue{

  border-color:royalblue;

  }
.under-red{
    border-color:red;
}
.under-green{
  border-color:green;
}
.title{
  margin-top:100px;
}
.center{
  text-align:center
}
.margin-top{
  margin-top:10px;
}
.row{
  margin-top:100px;
}
h1,h2,h3,h4,h5,h6,div,img{
    text-align:center;
}
